{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>

<p>Bienvenue sur le site officiel de OPERA. Ce site est édité par PRAXIS CONSULTING, SAS au capital de 1000 euros, dont le siège social est situé à 5 Rue de Rome 69140 Rillieux la pape, et inscrite au Registre du Commerce et des Sociétés de Lyon sous le numéro XXXYYYZZZ.</p>

<h2>Directeur de la publication</h2>
<p>Le Directeur de la publication est Sabrina MONTASSAR, joignable au 06.31.78.43.97 ou à sabrina.montassar@yahoo.fr.</p>

<h2>Hébergement</h2>
<p>Ce site est hébergé par [Nom de l’hébergeur], [Adresse complète de l’hébergeur]. Téléphone : [Numéro de téléphone de l’hébergeur].</p>

<h2>Propriété intellectuelle</h2>
<p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf autorisation expresse du directeur de la publication.</p>

<h2>Protection des données personnelles</h2>
<p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par PRAXIS CONSULTING pour la gestion de nos clients et prospects. Elles sont conservées pendant 3 ans et sont destinées au service marketing et au service commercial établis dans l'Union européenne. Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant : sabrina.montassar@yahoo.fr.</p>

<h2>Cookies</h2>
<p>Le site OPERA peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d'affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations. Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.</p>

<h2>Liens hypertextes</h2>
<p>Le site OPERA peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site XXXX. Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’éditeur. Aucune autorisation ou demande d’information préalable peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, OPERA se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site OPERA.</p>

{% endblock %}
