{# J'étends le layout de base pour maintenir une cohérence visuelle à travers l'application. #}
{% extends 'base.html.twig' %}

{% block title %}Éditer Profil{% endblock %}

{% block body %}
    <h1>Éditer Profil</h1>

    {# J'inclus le formulaire d'édition de profil. #}
    {{ include('profile/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_profile_index') }}">Retour à la liste</a>

    {# J'inclus le formulaire de suppression du profil. #}
    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}