{# J'étends le layout de base pour assurer une cohérence visuelle dans toute l'application. #}
{% extends 'base.html.twig' %}

{% block title %}Éditer le Profil{% endblock %}

{% block body %}
    <h1>Éditer le Profil</h1>

    {# J'inclus le formulaire d'édition du profil, avec un label de bouton personnalisé pour l'action d'édition. #}
    {{ include('profile/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {# Je fournis un lien de retour à la liste des profils pour une meilleure navigation de l'utilisateur. #}
    <a href="{{ path('app_profile_index') }}">Retour à la liste</a>
{% endblock %}