{# J'étends le layout de base pour maintenir une cohérence visuelle à travers l'application. #}
{% extends 'base.html.twig' %}

{% block title %}Nouveau Profil{% endblock %}

{% block body %}
    <h1>Créer un nouveau Profil</h1>

    {# J'inclus le formulaire de création de profil. #}
    {{ include('profile/_form.html.twig') }}

    <a href="{{ path('app_profile_index') }}">Retour à la liste</a>
{% endblock %}

