{% extends 'base_bo.html.twig' %}

{% block title %}Edit Personal{% endblock %}

{% block body %}
    <h1>Modifier un salarié/h1>

    {{ include('personal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personal_index') }}">Retour</a>

    {{ include('personal/_delete_form.html.twig') }}
{% endblock %}
