{% extends 'base_bo.html.twig' %}

{% block title %}New Personal{% endblock %}

{% block body %}
    <h1>Créer un nouveau collaborateur</h1>

    {{ include('personal/_form.html.twig') }}

    <a href="{{ path('app_personal_index') }}">Retour</a>
{% endblock %}
