{# J'affiche le formulaire d'équipe, utilisé à la fois pour la création et la modification d'une équipe. #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
