{% extends 'base.html.twig' %}

{% block title %}Changement de Mot de Passe{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">Changement de Mot de Passe</div>
                <div class="card-body">
                    <form action="{{ path('change_password_submit') }}" method="post">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                            <input type="password" id="newPassword" name="newPassword" required class="form-control" placeholder="Entrez votre nouveau mot de passe">
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmez le Nouveau Mot de Passe</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" required class="form-control" placeholder="Confirmez votre nouveau mot de passe">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Changer le mot de passe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
