{# Je définis le bloc d'en-tête de mon site #}
<header>
    {# J'utilise une barre de navigation Bootstrap transformée en sidebar #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex flex-row">
            {# J'insère le logo d'OPERA qui sert aussi de lien vers la page d'accueil #}
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('/image/logo_OPERA.png') }}" alt="Logo OPERA" style="width: 100px;">
            </a>
            {# Bouton pour le menu en version mobile #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {# Sidebar pour les liens de navigation #}
			<div class="collapse navbar-collapse" id="sidebarMenu">
                <ul class="navbar-nav flex-column">
                    {% if app.user %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            {# Menu spécifique pour l'administrateur avec icônes #}
                            <li class="nav-item"><a class="nav-link" href="#statistiques"><i class="fas fa-chart-line"></i> Statistiques</a></li>
                            <li class="nav-item"><a class="nav-link" href="#gestion-utilisateurs"><i class="fas fa-user-cog"></i> Gestion des utilisateurs</a></li>
                            <li class="nav-item"><a class="nav-link" href="#gestion-équipes"><i class="fas fa-users-cog"></i> Gestion des équipes</a></li>
							<li class="nav-item"><a class="nav-link" href="#gestion-entretiens"><i class="fas fa-comments"></i> Gestion des entretiens</a></li>
							<li class="nav-item"><a class="nav-link" href="#gestion-ressources"><i class="fas fa-toolbox"></i> Gestion des ressourcess</a></li>
							<li class="nav-item"><a class="nav-link" href="#configurations"><i class="fas fa-cogs"></i> Configuration</a></li>
                            <!-- Autres liens pour l'administrateur -->
                        {% elseif 'ROLE_MANAGER_L1' in app.user.roles %}
                            {# Menu spécifique pour le manager avec icônes #}
                            <li class="nav-item"><a class="nav-link" href="#gestion-collaborateurs"><i class="fas fa-user-tie"></i> Gestion des Collaborateurs</a></li>
							<li class="nav-item"><a class="nav-link" href="#gestion-équipes"><i class="fas fa-users"></i> Gestion des équipes</a></li>
							<li class="nav-item"><a class="nav-link" href="#planning"><i class="fas fa-calendar-alt"></i> Mon planning</a></li>
							<li class="nav-item"><a class="nav-link" href="#entretiens"><i class="fas fa-comments"></i> Entretiens</a></li>
							<li class="nav-item"><a class="nav-link" href="#objectifs"><i class="fas fa-bullseye"></i> Objectifs</a></li>
							<li class="nav-item"><a class="nav-link" href="#actions"><i class="fas fa-tasks"></i> Actions</a></li>
							<li class="nav-item"><a class="nav-link" href="#ressources"><i class="fas fa-book"></i> Ressources</a></li>
							<li class="nav-item"><a class="nav-link" href="#statistiques"><i class="fas fa-chart-line"></i> Statistiques</a></li>
                            <!-- Autres liens pour le manager -->
                        {% elseif 'ROLE_USER' in app.user.roles %}
                            {# Menu spécifique pour le collaborateur avec icônes #}
							<li class="nav-item"><a class="nav-link" href="#entretiens"><i class="fas fa-comments"></i> Mes Entretiens</a></li>
							<li class="nav-item"><a class="nav-link" href="#objectifs"><i class="fas fa-bullseye"></i> Mes Objectifs</a></li>
							<li class="nav-item"><a class="nav-link" href="#actions"><i class="fas fa-tasks"></i> Mes Actions</a></li>
							<li class="nav-item"><a class="nav-link" href="#feedbacks"><i class="fas fa-comment-dots"></i> Mes Feedbacks</a></li>
                            <li class="nav-item"><a class="nav-link" href="#statistiques"><i class="fas fa-chart-bar"></i> Mes Statistiques</a></li>
                            <!-- Autres liens pour le collaborateur -->
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            {# Lien pour déconnexion avec icône #}
            <a href="#" class="nav-link"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </nav>
</header>
