{% extends 'base.html.twig' %}

{% block title %}Conditions d'Utilisation{% endblock %}

{% block body %}
<h1>Conditions d'Utilisation</h1>

<p>En accédant au site web à [Insérer URL], vous acceptez d'être lié par ces conditions d'utilisation, toutes les lois et réglementations applicables, et acceptez que vous êtes responsable de la conformité avec les lois locales applicables. Si vous n'êtes pas d'accord avec une de ces conditions, vous êtes interdit d'utiliser ou d'accéder à ce site. Les matériaux contenus dans ce site web sont protégés par le droit d'auteur et le droit des marques applicables.</p>

<h2>Licence d'utilisation</h2>
<ul>
    <li>Il est permis de télécharger temporairement une copie des matériaux (informations ou logiciel) sur le site web d'OPERA pour un affichage transitoire personnel et non commercial seulement. C'est l'octroi d'une licence, pas un transfert de titre, et sous cette licence, vous ne pouvez pas :
    <ul>
        <li>modifier ou copier les matériaux;</li>
        <li>utiliser les matériaux à des fins commerciales ou pour toute exposition publique (commerciale ou non commerciale);</li>
        <li>tenter de décompiler ou de reconstruire tout logiciel contenu sur le site web d'OPERA;</li>
        <li>retirer tous droits d'auteur ou autres notations de propriété des matériaux; ou</li>
        <li>transférer les matériaux à une autre personne ou "miroir" les matériaux sur un autre serveur.</li>
    </ul>
    </li>
    <li>Cette licence sera automatiquement résiliée si vous violez une de ces restrictions et peut être résiliée par OPERA à tout moment. Lors de la fin de votre visionnage de ces matériaux ou à la fin de cette licence, vous devez détruire tous les matériaux téléchargés en votre possession, que ce soit en format électronique ou imprimé.</li>
</ul>

<h2>Clause de non-responsabilité</h2>
<ul>
    <li>Les matériaux sur le site web d'OPERA sont fournis 'en l'état'. OPERA ne fait aucune garantie, exprimée ou implicite, et décline par la présente et annule toutes les autres garanties, y compris sans limitation, les garanties implicites ou les conditions de commercialisation, d'adéquation à un usage particulier, ou la non-violation des droits de propriété intellectuelle ou d'autres violations de droits.</li>
    <li>De plus, OPERA ne garantit ni ne fait aucune représentation concernant l'exactitude, les résultats probables, ou la fiabilité de l'utilisation des matériaux sur son site web ou autrement liés à de tels matériaux ou sur des sites liés à ce site.</li>
</ul>

<h2>Limitations</h2>
<p>En aucun cas, OPERA ou ses fournisseurs ne seront tenus responsables de tout dommage (y compris, sans limitation, les dommages pour perte de données ou de profit, ou en raison d'une interruption d'activité) découlant de l'utilisation ou de l'impossibilité d'utiliser les matériaux sur le site web d'OPERA, même si OPERA ou un représentant autorisé d'OPERA a été notifié oralement ou par écrit de la possibilité de tels dommages.</p>

<h2>Exactitude des matériaux</h2>
<p>Les matériaux apparaissant sur le site web d'OPERA pourraient inclure des erreurs techniques, typographiques ou photographiques. OPERA ne garantit pas que les matériaux sur son site web sont exacts, complets ou à jour. OPERA peut apporter des changements aux matériaux contenus sur son site web à tout moment sans préavis. Cependant OPERA ne s'engage pas à mettre à jour les matériaux.</p>

<h2>Liens</h2>
<p>OPERA n'a pas examiné tous les sites liés à son site web et n'est pas responsable du contenu de ces sites liés. L'inclusion de tout lien ne signifie pas approbation par OPERA du site. L'utilisation de tout site web lié est aux risques et périls de l'utilisateur.</p>

<h2>Modifications</h2>
<p>OPERA peut réviser ces conditions d'utilisation pour son site web à tout moment sans préavis. En utilisant ce site web, vous acceptez d'être lié par la version actuelle de ces conditions d'utilisation.</p>

<h2>Loi applicable</h2>
<p>Tout litige relatif au site web d'OPERA sera régi par les lois du pays de OPERA sans égard à son conflit de dispositions légales.</p>

{% endblock %}
