{% extends 'base.html.twig' %}

{% block title %}Create New Log{% endblock %}

{% block body %}
    <h1>Create New Log</h1>
    {{ include('system_log/_form.html.twig') }}
    <a href="{{ path('system_log_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
