{% extends 'base.html.twig' %}

{% block title %}Éditer la charge de travail{% endblock %}

{% block body %}
    <h1>Éditer la charge de travail</h1>
    {{ include('workload/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a href="{{ path('app_workload_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
