{% extends 'base.html.twig' %}

{% block title %}Edit Workload{% endblock %}

{% block body %}
    <h1>Edit Workload</h1>

    {{ include('workload/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_workload_index') }}">back to list</a>

    {{ include('workload/_delete_form.html.twig') }}
{% endblock %}
