{% extends 'base_bo.html.twig' %}

{% block title %}Dashboard Manager Niveau 1{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include 'manager_l1/sidebar.html.twig' %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="alert alert-info" role="alert">
                Vous avez <strong>{{ team_members_count }}</strong> membres dans votre équipe.
            </div>
            <!-- Additional dashboard widgets or components go here -->
        </main>
    </div>
</div>
{% endblock %}
