{% extends 'base.html.twig' %}

{% block title %}Create New Task{% endblock %}

{% block body %}
    <h1>Create New Task</h1>
    {{ include('task/_form.html.twig') }}
    <a href="{{ path('task_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
