{% extends 'base.html.twig' %}

{% block title %}Edit TeamMember{% endblock %}

{% block body %}
    <h1>Edit TeamMember</h1>

    {{ include('team_member/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_team_member_index') }}">back to list</a>

    {{ include('team_member/_delete_form.html.twig') }}
{% endblock %}
