{% extends 'base_bo.html.twig' %}

{% block title %}Nouveau membre{% endblock %}

{% block body %}
    <h1>Créer un nouveau membre</h1>

    {{ include('team_member/_form.html.twig') }}

    <a href="{{ path('app_team_member_index') }}">back to list</a>
{% endblock %}
