{% extends 'base.html.twig' %}

{% block title %}New TeamMember{% endblock %}

{% block body %}
    <h1>Create new TeamMember</h1>

    {{ include('team_member/_form.html.twig') }}

    <a href="{{ path('app_team_member_index') }}">back to list</a>
{% endblock %}
