{% extends 'base.html.twig' %}

{% block title %}Edit TypeInterview{% endblock %}

{% block body %}
    <h1>Edit TypeInterview</h1>
    {{ include('type_interview/_form.html.twig', {'form': form, 'button_label': 'Update'}) }}
    <a href="{{ path('app_type_interview_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
