{% extends 'base.html.twig' %}

{% block title %}New TypeInterview{% endblock %}

{% block body %}
    <h1>Créer un nouveau type d'entretien</h1>
    {{ include('type_interview/_form.html.twig', {'form': form, 'button_label': 'Enregistrer'}) }}
    <a href="{{ path('app_type_interview_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
