{% extends 'base_bo.html.twig' %}

{% block title %}Modifier l'entretien{% endblock %}

{% block body %}
    <h1>Modifier l'entretien</h1>

    {{ include('interview/_form.html.twig') }}

    <div class="d-flex justify-content-end mt-3">
        <a href="{{ path('app_interview_manager_index', {'id': app.user.id}) }}" class="btn btn-success" title="Retour à la liste des entretiens">
            <i class="fas fa-arrow-left"></i> Retour</a>
    </div>
{% endblock %}
