{% extends 'base.html.twig' %}

{% block title %}New Interview{% endblock %}

{% block body %}
    <h1>Create new Interview</h1>

    {{ include('interview/_form.html.twig') }}

    <a href="{{ path('app_interview_index') }}">back to list</a>
{% endblock %}
