{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<h1>Politique de Confidentialité</h1>

<p>Chez OPERA, accessible depuis [URL de votre site], l’une de nos principales priorités est la vie privée de nos visiteurs. Cette Politique de Confidentialité contient des types d'informations qui sont collectées et enregistrées par OPERA et comment nous les utilisons.</p>

<h2>Consentement</h2>
<p>En utilisant notre site web, vous consentez par la présente à notre Politique de Confidentialité et acceptez ses termes.</p>

<h2>Informations que nous collectons</h2>
<p>Les informations personnelles que vous êtes invité à fournir, et les raisons pour lesquelles vous êtes invité à les fournir, vous seront précisées au moment où nous vous demanderons de fournir vos informations personnelles.</p>
<p>Si vous nous contactez directement, nous pouvons recevoir des informations supplémentaires à votre sujet telles que votre nom, adresse e-mail, numéro de téléphone, le contenu du message et/ou des pièces jointes que vous pouvez nous envoyer, et toute autre information que vous pourriez choisir de fournir.</p>
<p>Lorsque vous vous inscrivez pour un Compte, nous pouvons demander vos informations de contact, y compris des éléments tels que le nom, le nom de la société, l'adresse, l'adresse e-mail et le numéro de téléphone.</p>

<h2>Comment nous utilisons vos informations</h2>
<p>Nous utilisons les informations que nous collectons de diverses manières, y compris pour :</p>
<ul>
<li>Fournir, exploiter et maintenir notre site web</li>
<li>Améliorer, personnaliser et élargir notre site web</li>
<li>Comprendre et analyser comment vous utilisez notre site web</li>
<li>Développer de nouveaux produits, services, fonctionnalités et fonctionnalités</li>
<li>Communiquer avec vous, directement ou à travers l’un de nos partenaires, y compris pour le service client, pour vous fournir des mises à jour et d'autres informations relatives au site web, et à des fins de marketing et de promotion</li>
<li>Vous envoyer des emails</li>
<li>Trouver et prévenir la fraude</li>
</ul>

<h2>Log Files</h2>
<p>OPERA suit une procédure standard d'utilisation des fichiers log. Ces fichiers enregistrent les visiteurs lorsqu'ils visitent les sites web. Toutes les entreprises de hosting le font et une partie des analyses des services de hosting. Les informations collectées par les fichiers log incluent les adresses de protocole Internet (IP), le type de navigateur, le fournisseur d'accès Internet (ISP), la date et l'heure, les pages de référence/sortie, et éventuellement le nombre de clics. Ces données ne sont pas liées à des informations personnellement identifiables. Le but de ces informations est d'analyser les tendances, d'administrer le site, de suivre les mouvements des utilisateurs sur le site web, et de recueillir des informations démographiques.</p>

<h2>Cookies et balises Web</h2>
<p>Comme tout autre site web, OPERA utilise des 'cookies'. Ces cookies sont utilisés pour stocker des informations, y compris les préférences des visiteurs, et les pages sur le site auxquelles le visiteur a accédé ou visité. Ces informations sont utilisées pour optimiser l'expérience des utilisateurs en personnalisant le contenu de notre page web en fonction du type de navigateur des visiteurs et/ou d'autres informations.</p>

<h2>Partenaires publicitaires</h2>
<p>Les annonceurs tiers sur notre site peuvent également utiliser des cookies; vous pouvez consulter leur Politique de Confidentialité respective pour plus d'informations sur leurs pratiques.</p>

<h2>Politiques de confidentialité des tiers</h2>
<p>La Politique de Confidentialité d'OPERA ne s'applique pas à d'autres annonceurs ou sites web. Ainsi, nous vous conseillons de consulter les Politiques de Confidentialité respectives de ces serveurs tiers pour des informations plus détaillées. Elle peut inclure leurs pratiques et des instructions sur la manière de se désabonner de certaines options.</p>

<h2>Droits de protection des données GDPR</h2>
<p>Nous souhaitons nous assurer que vous êtes pleinement conscient de tous vos droits de protection des données. Chaque utilisateur est en droit de :</p>
<ul>
<li>Demander des copies de vos données personnelles. Nous pouvons vous facturer un petit montant pour ce service.</li>
<li>Demander que nous corrigions toute information que vous croyez inexacte. Vous avez également le droit de nous demander de compléter les informations que vous croyez incomplètes.</li>
<li>Demander l'effacement de vos données personnelles, sous certaines conditions.</li>
<li>Demander que nous restreignions le traitement de vos données personnelles, sous certaines conditions.</li>
<li>S'opposer à notre traitement de vos données personnelles, sous certaines conditions.</li>
<li>Demander que nous transférions les données que nous avons collectées à un autre organisme, ou directement à vous, sous certaines conditions.</li>
</ul>

<h2>Modifications de notre politique de confidentialité</h2>
<p>Notre société garde ses politiques de confidentialité sous révision constante et place toutes les mises à jour sur cette page web. Cette politique de confidentialité a été mise à jour pour la dernière fois le [date de la dernière mise à jour].</p>

<p>Si vous avez des questions sur notre politique de confidentialité, les données que nous détenons sur vous, ou si vous souhaitez exercer l'un de vos droits de protection des données, n'hésitez pas à nous contacter.</p>

{% endblock %}
