{% extends 'base.html.twig' %}

{% block title %}Valeurs d'OPERA{% endblock %}
 {% block stylesheets %}

{% block body %}
{% block javascripts %}
<div class="container my-5">
    <h1 class="text-center">Nos Valeurs</h1>
    <p>Chaque jour, chez OPERA, nous nous engageons à transformer la gestion d'équipe en une expérience enrichissante et productive. Découvrez les principes qui nous guident :</p>
    
    <div class="row">
        {% for value in values %}
        <div class="col-md-4">
            <div class="value-item">
                <h2>{{ value.title }}</h2>
                <p>{{ value.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
