.help-widget {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    background-color: #f9f9f9;

h3 {
    cursor: pointer;
    color: primary-color;
    margin-bottom: 5px;
        
    &.active {
            color: darken(primary-color, 20%);
    }
}

div {
    display: none;
    padding: 5px;
    border-top: 1px solid #ccc;
}

a {
    color: primary-color;

    &:hover {
        text-decoration: underline;
    }
}
}
