// notification.scss
.notification {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;

    &.unread {
        background-color: $alert-info-bg;
    }

    &.read {
        text-decoration: line-through;
        color: $secondary-color;
    }
}
