form {

    #form {
        width: 220px;
        margin: auto;
        background: #e6e1e1;
        padding: 1rem;
        display: grid;
        grid-template-columns: 150px;
        row-gap: 1rem;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid #ecd6d6; 
    }
    
    button[type="submit"]{
        background: #0d6efd;
      color: white;
      padding: 0.5rem;
      border-radius: 8px;
    }
    

}