.navbar {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100vh;
    background-color: secondary-color;
}
    

.nav-link {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;

    &:hover {
        background-color: darken(secondary-color, 10%);
    }

    i {
         margin-right: 10px;
    }
    }

.active {
    background-color: primary-color;
    }

