{# templates/emails/reset_password.html.twig #}
<p>Bonjour,</p>
<p>Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>
<a href="{{ url('app_reset_password', {'token': resetToken}) }}">Réinitialiser mon mot de passe</a>
<p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet email.</p>
