{% extends 'base_bo.html.twig' %}

{% block title %}Modifier Resource{% endblock %}

{% block body %}
    <h1>Modifier les ressources</h1>

    {{ include('resource/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_resource_index') }}" class="btn btn-secondary">Retour</a>

    {{ include('resource/_delete_form.html.twig') }}
{% endblock %}
