{% extends 'base.html.twig' %}

{% block title %}Edit Resource{% endblock %}

{% block body %}
    <h1>Edit Resource</h1>

    {{ include('resource/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_resource_index') }}">back to list</a>

    {{ include('resource/_delete_form.html.twig') }}
{% endblock %}
