{% extends 'base_bo.html.twig' %}

{% block title %}Nouvelle Ressource{% endblock %}

{% block body %}
    <h1>Créer une nouvelle ressource</h1>

    {{ include('resource/_form.html.twig') }}

    <div class="d-flex justify-content-end">
    <a href="{{ path('app_resource_index') }}, {'id': app.user.id}) }}" class="btn btn-success">Retour</a>
    </div>
{% endblock %}
