{% extends 'base.html.twig' %}

{% block title %}Paramètres des Cookies{% endblock %}

{% block body %}
<h1>Paramètres des Cookies</h1>
<p>Nous utilisons des cookies pour améliorer votre expérience sur notre site OPERA. Les cookies sont de petits fichiers texte stockés sur votre appareil qui nous permettent de maintenir vos préférences et de vous proposer des services personnalisés.</p>

<h2>Types de cookies que nous utilisons</h2>
<ul>
    <li><strong>Cookies essentiels :</strong> Ces cookies sont indispensables pour le bon fonctionnement de notre site. Ils vous permettent d'accéder aux principales fonctionnalités de notre service, comme la sécurisation de votre connexion.</li>
    <li><strong>Cookies de performance et d'analyse :</strong> Ces cookies nous aident à comprendre comment les visiteurs interagissent avec notre site en fournissant des informations sur les zones visitées, le temps passé sur le site et les problèmes rencontrés, tels que les messages d'erreur.</li>
    <li><strong>Cookies de fonctionnalité :</strong> Ils permettent à notre site de se souvenir des choix que vous faites (votre nom d'utilisateur, votre langue ou la région où vous vous trouvez) et fournissent des fonctionnalités améliorées et plus personnelles.</li>
    <li><strong>Cookies de ciblage ou publicitaires :</strong> Ces cookies collectent des informations sur vos habitudes de navigation afin de rendre la publicité plus pertinente pour vous et vos intérêts. Ils sont également utilisés pour limiter le nombre de fois où vous voyez une annonce ainsi que pour aider à mesurer l'efficacité des campagnes publicitaires.</li>
</ul>

<h2>Votre choix concernant les cookies</h2>
<p>Vous pouvez choisir de désactiver certains ou tous ces cookies à tout moment. Veuillez noter que cela pourrait affecter votre expérience sur notre site. Les options de gestion des cookies sont généralement trouvées dans les menus « Options » ou « Préférences » de votre navigateur. Pour plus d'informations sur la manière de modifier vos paramètres de cookies, cliquez sur le lien correspondant à votre navigateur :</p>

<ul>
    <li><a href="https://support.google.com/chrome/answer/95647?hl=fr" target="_blank">Chrome</a></li>
    <li><a href="https://support.mozilla.org/fr/kb/effacer-les-cookies-pour-supprimer-les-information" target="_blank">Firefox</a></li>
    <li><a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">Safari</a></li>
    <li><a href="https://support.microsoft.com/fr-fr/topic/comment-supprimer-des-cookies-dans-microsoft-edge-bf25cfc5-5b7e-6337-1303-8b9b8cbe4c2c" target="_blank">Edge</a></li>
</ul>

<h2>Consentement</h2>
<p>En utilisant notre site, vous consentez à l'utilisation des cookies conformément à notre politique. Si vous n'êtes pas d'accord avec l'utilisation de ces cookies, nous vous invitons à les désactiver en suivant les instructions ci-dessus, sachant que cela peut avoir un impact sur votre expérience utilisateur.</p>

{% endblock %}
