{% extends 'base.html.twig' %}

{% block title %}Notre Histoire{% endblock %}
 {% block stylesheets %}

{% block body %}
{% block javascripts %}
<main class="container">
    <h1>Notre Histoire</h1>
    <p>En juin 2023, j'ai entamé une formation enrichissante en développement web et mobile, visant à compléter mes compétences en tant que manager. Cette formation m'a permis de développer des outils dédiés aux managers de proximité et de soutenir les activités stratégiques de l'entreprise, en ciblant notamment l'amélioration de la productivité, l'accroissement de la satisfaction client, et le renforcement du bien-être des collaborateurs.</p>
    <p>Dans le cadre de ma certification, il m'était requis de concevoir soit un site internet, soit une application. J'ai choisi de développer l'application OPERA, une plateforme conçue pour instaurer des rituels d'entretien efficaces et pour élaborer un parcours collaborateur structuré. L'objectif principal d'OPERA est de soutenir les collaborateurs dans leur développement professionnel par la mise en place de plans d'action ciblés, favorisant ainsi leur montée en compétence.</p>
    <p>Par ailleurs, OPERA vise à enrichir les compétences managériales en proposant des ressources et des formations sur les fondamentaux du management, la gestion des priorités et de l'organisation, la résolution de conflits, ainsi que les techniques pour diriger efficacement des réunions et des entretiens. L'ambition est de transformer la pratique managériale en un levier de performance et de satisfaction tant pour l'équipe que pour l'entreprise.</p>

    <!-- Bouton pour réserver une démo -->
        <div>
            <a href="{{ path('reservation_demo') }}" class="btn btn-primary">Réservez une démo</a>
        </div>
</main>
{% endblock %}
