<form method="post" action="{{ path('app_goal_delete', {'id': goal.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objectif?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goal.id) }}">
    <button type="submit" class="btn btn-danger btn-sm" title="Supprimer cet entretien">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
