{% extends 'base_bo.html.twig' %}

{% block title %}Modifier un objectif{% endblock %}

{% block body %}
    <h1>Modifier un objectif</h1>

    {{ include('goal/_form.html.twig') }}

    <div class="d-flex justify-content-end">
		 <a href="{{ path('app_interview_manager_index', {'id': app.user.id}) }}" class="btn btn-success">Retour</a>
	</div>

    {{ include('goal/_delete_form.html.twig') }}
{% endblock %}
