{% extends 'base_bo.html.twig' %}

{% block title %}Nouvel objectif{% endblock %}

{% block body %}
    <h1>Créer un nouvel objectif</h1>
    <div class="d-flex justify-content-end">
		 <a href="{{ path('app_interview_show', {'id': app.request.query.get('interviewId')}) }}" class="btn btn-success">Retour</a>
	</div>
    
    {{ include('goal/_form.html.twig') }}

    
{% endblock %}
