<div class="opera-buttons">
    <button onclick="location.href='{{ path('demo_request') }}'" class="btn btn-primary">Réserver une démo</button>
    <button onclick="location.href='{{ path('opera_video') }}'" class="btn btn-secondary">Découvrez OPERA à travers une vidéo</button>
</div>
