<div class="resource-management-widget">
    <h3>Bibliothèque des Ressources</h3>
    <ul>
        {% for resource in resources %}
            <li>
                {{ resource.title }}
                <a href="{{ path('app_resource_index', {'id': app.user.id }) }}">Modifier</a>
            </li>
        {% else %}
            <li>Aucune ressource disponible.</li>
        {% endfor %}
    </ul>
</div>
