{# templates/components/statistics_widget.twig #}
<div class="statistics-widget">
    <h3>Statistiques Clés</h3>
    <ul>
        {# <li>Nombre total d'entretiens: {{ total_interviews }}</li>
        <li>Objectifs atteints ce mois: {{ goals_completed }}</li> #}
        {# <li>Taux de satisfaction: {{ satisfaction_rate }}%</li> #}
    </ul>
</div>
