{# templates/dashboard/dashboard_user.html.twig #}
{# J'étends le layout principal pour garder une cohérence dans le design de l'application. #}
{% extends 'base_bo.html.twig' %}

{# Je définis le titre de la page, qui apparaîtra dans l'onglet du navigateur. #}
{% block title %}Tableau de Bord Utilisateur{% endblock %}

{# Je commence à définir le contenu principal de cette page. #}
{% block body %}
<div class="container">
    <h1>Votre espace collaborateur!</h1>
    <p>Bienvenue, {{ app.user.username }}! dans votre interface</p>
</div>
{% endblock %}




