{# J'étends le layout de base pour assurer la cohérence de l'interface utilisateur #}
{% extends 'base.html.twig' %}

{# Je définis le titre de la page #}
{% block title %}Tableau de Bord{% endblock %}

{# Je définis le contenu principal de la page #}
{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Tableau de Bord</h1>

        {# Section Objectifs #}
        <section class="my-5">
            <h2>Objectifs</h2>
            {# Contenu dynamique des objectifs #}
        </section>

        {# Section Feedbacks #}
        <section class="my-5">
            <h2>Feedbacks</h2>
            {# Contenu dynamique des feedbacks #}
        </section>

        {# Section État des Équipes #}
        <section class="my-5">
            <h2>État des Équipes</h2>
            {# Contenu dynamique sur l'état des équipes #}
        </section>
    </div>
{% endblock %}
