{% extends 'base.html.twig' %}

{% block body %}
<h1>Configurer l'authentification à deux facteurs</h1>
<p>Scannez ce QR code avec votre application d'authentification :</p>
<img src="{{ qrCode }}" alt="QR Code">
{% endblock %}
